%h1 Edit
%center
  = form_for @emp do |emp|
    %b Email_id
    = emp.text_field :email_id
    %br/
    %b Create_at
    = emp.date_select :created_at
    %br/
    %br/
    %b department
    = emp.text_field :department, :id => "autocomplete1"

    %br
    %b Forwarded_to
    = emp.text_field :forwards, :id =>"autocomplete2"
    %br/
    %b Category
    = emp.text_field :category, :id =>"autocomplete3"
    %br/
    %b Group_Head
    = emp.text_field :group_head, :id =>"autocomplete4"
    %br/
    %b Requisition_By
    = emp.text_field :requisition_by, :id =>"autocomplete5"
    %br/
    %b Handled_By
    = emp.text_field :handled_by, :id =>"autocomplete6"
    %br/
    = emp.hidden_field :status, :value=>'1'
    = emp.submit






        
        
        
        