     <h1>Please Fill the details</h1>
     <h1><p class="error"><%= flash[:error] %></p> </h1>
<%= form_for @emp, :url=>{:action=>'create'} do |emp| %>

         
      <b>Email_id</b>
      <%= emp.text_field :email_id %>
          <br/> <br/>



      <b>Create_at</b>
      <%= emp.date_select :created_at %>



         <br/> <br/>
      <b>department</b>
      <%= emp.select(:department,["HRA","ADMIN","TESTER","DEVELOPER"] , :prompt => 'Select',:class => 'space_bottom quote_request_form')   %>
         <br/>  <br/>


      <b>Forwarded_to</b>
        <%= emp.select(:forwards,["srinivas","ramappa","samar","vineeth"] , :prompt => 'Select',:class => 'space_bottom quote_request_form')   %>
         <br/> <br/>


      <b>Category</b>
      <%= emp.select(:category, ["Relyonist","Client","Customer"],:prompt =>'select', :class=>'space_button quote_request_form' )%>

         <br/> <br/>

      <b>Group_Head</b>
      <%= emp.select(:group_head,["srinivas","ramappa","samar","vineeth"] , :prompt => 'Select',:class => 'space_bottom quote_request_form') %>
         <br/>  <br/>


      <b>Requisition_By</b>
      <%= emp.select(:requisition_by,["srinivas","ramappa","samar","vineeth"] , :prompt => 'Select',:class => 'space_bottom quote_request_form')   %>
         <br/>  <br/>



         <b>Handled_By</b>
      <%= emp.select(:handled_by,["srinivas","ramappa","samar","vineeth"] , :prompt => 'Select',:class => 'space_bottom quote_request_form')   %>

         <br/>    <br/>


     <%= emp.hidden_field :status, :value=> '0' %>

         <%= emp.submit%>

<%end%>