<h1>Search result</h1>

<%if (@emp.length==0)%>
 <p><h3>There is no related data please enter correct data</h3></p>
<%else%>
    <table border="1" align="center">
      <tr>
         <th>Serial_no</th>
        <th>Email_id</th>
        <th>Created_on</th>
        <th>Department</th>
        <th>Forward</th>
        <th>Category</th>
        <th>Group_Head</th>
        <th>Requisition_By</th>
        <th>Handled_by</th>
        <th>Employee_id</th>
        <th>status</th>

        <th></th>
        <th></th>
        <th></th>

      </tr>

      <% @emp.each do |emp|  %>
          <tr>  <td><%= emp.id  %></td>
            <td><%=link_to emp.email_id, emp  %></td>
            <td><%= emp.created_at  %></td>
            <td><%= emp.department  %></td>
            <td><%= emp.forwards  %></td>
            <td><%= emp.category  %></td>
            <td><%= emp.group_head  %></td>
            <td><%= emp.requisition_by  %></td>
            <td><%= emp.handled_by  %></td>
            <td><%= emp.id  %></td>
            <td><%= emp.status  %></td>
            <td><%= link_to 'show',emp   %></td>
            <td><%= link_to 'edit',edit_employee_path(emp)%>
            <td><%= link_to 'destroy ', emp,:confirm=>'Are you sure?', method:  :delete%>

          </tr>

      <% end %>
    </table>
<%end%>

<%= link_to 'back', employee_index_path%>