     <h1>Details</h1>



     <center>

     <p>
       <b>Serial_no:</b>
       <%= @emp.id %>
     </p>

     <p>
       <b>Create_at:</b>
       <%= @emp.created_at %>
     </p>


     <p>
       <b>Email_id:</b>
       <%= @emp.email_id %>
     </p>

     <p>
       <b>password:</b>
       <%= @emp.uuid %>
     </p>

     <p>
       <b>Handled_by:</b>
       <%= @emp.handled_by %>
     </p>

     <p>
       <b>Emp_id:</b>
       <%= @emp.id %>
     </p>
       <p>
       <b>Department:</b>
       <%= @emp.department %>
     </p>
      <p>
       <b>Forwards:</b>
       <%= @emp.forwards%>
     </p>

     <p>
       <b>Group_head:</b>
       <%= @emp.group_head %>
     </p>
      <p>
       <b>Requisition_By:   </b>
       <%= @emp.requisition_by %>
     </p>

     <p>
       <b>Status:   </b>
       <%= @emp.status%>
     </p>

       <%= @emp.id%>


     </center>
     <%= link_to 'index', employee_index_path%>